# OpenSearch 연결 설정
OPENSEARCH_ADMIN_PASSWORD=MyStrongPassword123!
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200

# FastAPI 설정
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8010

# 환경 (local, production)
ENVIRONMENT=local
